:root {
    --primary-color: #6c63ff;
    --dark-bgg: #121212;
    --darker-bg: #0a0a0a;
    --light-text: #f5f5f5;
    --gray-text: #aaaaaa;
    --card-bgf: #1e1e1e;
    --border-color: #2d2d2d;
    --transition: all .3s ease;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: var(--primary-color) var(--darker-bg);
}


body {
    background-color: var(--dark-bgg);
    color: var(--light-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
}  

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

header {
    background-color: rgb(10, 10, 10, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid var(--border-color);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid var(--border-color);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo span {
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    justify-content: space-evenly;  
    width: 100%;  
    gap: 0;  
}


.nav-links a {
    position: relative;
    font-size: 0.8.rem;
    transition: var(--transition);
}

.nav-links a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    left: 0;
    bottom: 0;
    transition: var(--transition);
}

.nav-links a:hover {
    color: var(--primary-color);
}

.nav-links a:hover:after {
    width: 100%;
}

section {
    padding: 6rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
    position: relative;
    padding-bottom: 1rem;
}

.section-title:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: var(--primary-color);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.btn {
    display: inline-block;
    padding: .8rem 1.5rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: var(--transition);
}

.btn:hover {
    background-color: #5753d6;
    transform: scale(1.05);    
    box-shadow: 0 0 20px rgba(108, 99, 255, 0.7); 
}


.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 5rem;
}

.hero-content {
    gap: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-text h2 {
    font-size: 1.5rem;
    color: var(--gray-text);
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.hero-text p {
    margin-bottom: 1.5rem;
    color: var(--gray-text);
    font-size: 1.1rem;
    max-width: 600px;
}

.social-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.social-links a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--darker-bg);
    color: var(--light-text);
    transition: var(--transition);
}

.social-links a:hover {
    background-color: var(--primary-color);
    transform: translateY(-3px);
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    box-shadow: 0 0 25px rgba(108, 99, 255, 50%);
    transition: var(--transition);
}

.hero-image img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(108, 99, 255, 5);
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: var(--border-color);
}
.timeline-item {
    position: relative;
    margin-bottom: 3rem;
    padding-left: 50px;
}

.timeline-item:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 5px;
    height: 20px;
    width: 2px;
    background-color: var(--border-color);
    z-index: 1;
}

.timeline-content {
    background-color: var(--card-bgf);
    padding: 1.5rem;
    border-radius: 10px;
    border-left: 3px solid var(--primary-color);
}

.date {
    font-size: 0.9rem;
    display: inline-block;
    padding: .3rem .8rem;
    background-color: rgb(108, 99, 255, 0.2);
    color: var(--primary-color);
    border-radius: 5px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.timeline-content h3 {
    margin-bottom: .5rem;
    font-size: 1.3rem;
}

.timeline-content h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--gray-text);
    font-weight: 500;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: .8rem;
}

.skills li {
    background-color: var(--darker-bg);
    padding: .3rem 0.8rem;
    border-radius: 20px;
    font-size: 0.8rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}  

.project-card {
    background-color:var(--card-bgf);
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
}

.project-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0px 30px rgba(108, 99, 255, .5);
}

.project-img {
    overflow: hidden;
    width: 45%;
    margin: 0 auto;
}
.project-img img {
    width: 100%;
    transition: var(--transition);
}

.project-card:hover .project-img img {
    transform: scale(1.05);
}

.project-info {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.project-info h3 {
    margin-bottom: 8rem;
    font-size: 1.3rem;
}

.project-info p {
    flex-grow: 1;
    color: var(--gray-text);
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.project-tech {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.project-tech span {
    background-color: rgb(108, 99, 255, 0.2);
    color: var(--primary-color);
    padding: .3rem .8rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

.project-links {
    display: flex;
    gap: 1rem;
}

.project-links a {
    margin-right: 9rem;
    color: var(--gray-text);
    transition: var(--transition);
}

.project-links a:hover {
    color: var(--primary-color);
}

footer {
    padding: 2rem 5%;
    border-top: 1px solid var(--border-color);
    background-color: var(--darker-bg);
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 430px) {
    header {
        position: static;
    }

    #navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 1rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

    .hero-content, .nav-links {
        flex-direction: column;
    }
}

#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background: #111;
}


#rubik-bg {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
#rubik-bg canvas {
    display: block;
}
